<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NewsHouse</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("News manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("News", "Index", "News", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Category", "Index", "Categories", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Tags", "Index", "Tags", new { area = "" }, new { @class = "nav-link" })</li>
                    @*<li>@Html.ActionLink("Authors", "Index", "Authors", new { area = "" }, new { @class = "nav-link" })</li>*@

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!-- Footer -->
        <footer class="bg-light text-center text-muted py-3 mt-5 border-top">
            &copy; @DateTime.Now.Year News Manager. All rights reserved.
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('tempSuccess').delay(1000).hide();
        });
    </script>
    <script type="text/javascript">
        $("#btnPlus").click(function (e) {
            e.preventDefault();
            var spotContainer = $("#container");
            $.ajax({
                url: "/News/AddNewCategory",
                type: "GET",
                success: function (data) {
                    spotContainer.append(data)
                }
            });
        });
        $(document).on("click", "#btnDeleteCat", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        })

    </script>
    <script>
        $("#btnPlusTag").click(function (e) {
            e.preventDefault();
            var spotContainer = $("#tagcontainer");
            $.ajax({
                url: "/News/AddNewTag",
                type: "GET",
                success: function (data) {
                    spotContainer.append(data)
                }
            });
        });
        $(document).on("click", "#btnDeleteTag", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        })
    </script>
    <script>
    $(document).ready(function () {

        $('#searchBox').on('input', function () {
            var query = $(this).val();

            if (query.length >= 2) {
                $.ajax({
                    url: '@Url.Action("Search", "News")',
                    data: { term: query },
                    type: 'GET',
                    success: function (data) {

                        $('#searchResults').empty().show();


                        if (data.length > 0) {
                            $.each(data, function (index, item) {
                                var li = $('<li>')
                                    .text(item.Title)
                                    .attr('data-id', item.NewsId)
                                    .on('click', function () {

                                        alert(': ' + item.Title);
                                    });

                                $('#searchResults').append(li);
                            });
                        } else {
                            $('#searchResults').append('<li>No results found</li>');
                        }
                    },
                    error: function () {
                        alert('An error occurred while searching.');
                    }
                });
            } else {

                $('#searchResults').empty().hide();
            }
        });


        $(document).click(function (e) {
            if (!$(e.target).closest('#searchBox').length && !$(e.target).closest('#searchResults').length) {
                $('#searchResults').hide();
            }
        });
    });
    </script>
</body>
</html>
